#footer
  background: #000
  overflow:hidden
  position:relative
  width:100%
  height: 50px
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-grey
    text-decoration: none
    &:hover
      text-decoration: underline

#foot-stars
  background: url(stars-url) no-repeat center center
  background-size: contain
  position: absolute
  animation:spin 300s infinite linear
  width: 2508px
  height: 2508px
  bottom: -400px
  left:-400px
  transform-origin: 1254px 1254px
  z-index:1

#footer-info
  line-height: line-height
  font-size: 0.85em